/* Global reset för att få det att se lika 
   ut i browsers från olika leverantörer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Sätt inramning som grundinställning för tabbning */
:focus {
    outline: dotted;
}

/* Låt sidan fylla hela viewporten */
html, body {
    min-height: 100%;
    height: 100%;
}
html {
    /* Generella font- och färginställnigar */
    font-family: 'Fjalla One', sans-serif;
    color: #1F1F1F;
    background-color: #FFFFFF;
}
body {
    display: flex;
    flex-direction: column;
    /* Sätt lagom radavstånd för text */
    line-height: 130%;
}
h1, h2, h3 {
    margin-top: 1.1em;
    margin-bottom:1.0em;
    font-weight: bold;
}
h1 {
    font-size: 130%;
}
h2 {
    font-size: 125%;
}
h3 {
    font-size: 120%;
}

/* Låt navigeringslänkarna visas med samma färg som vanlig text */
a:link, a:visited {
    color: #1F1F1F;
}

/* Centrera innehåll i navigering och sidfot */
.navigering, .sidfot {
    margin: auto;
}

/* Definitioner för header för att få namnet centrerat med bakgrungsfärg
   samt att skala bilden så att den täcker skärmens bredd med rätt proportioner*/
.sidhuvud {
    order: 1;
    position: relative;
}
.sidhuvud img {
    max-width:100%; 
    max-height:100%;
    display:block;
}
.sidhuvudrubrik {
    position: absolute;
    height: 100%;
}
.sidhuvudrubrik:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.sidhuvud h1 {
   display: inline-block;
}
.sidhuvudrubrikmellanrum, .sidhuvudrubriktext {
    background: #ADD8E6;
    padding: 10px;
}
.sidhuvudrubrikmellanrum {
   padding-left: 100px;
}

/* Datum för en nyhet ska ha lite mer mellanrum till omgivande text än brödtext har */
.nyhetsdatum {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Skala bilder och bildtexter (i bildgalleri) till att fylla upp till 90%
   befintligt utrymme på bredden och behåll bredd- och höjdförhållande */
.bildgalleri img, .artikelbild img {
    display: block;
    margin: auto;
    max-width: 90%;    
}
.bildgalleri img {
    padding: 5px;
    width: 90%
}
/* Centrera bild och bildtext i artikel 
   samt lägg lite mellanrum runt bilden */
.artikelbild {
    display: flex;
    justify-content: center;
    padding: 20px;
}
/* Bildtexter centrerat fyll upp 90% av bredden */
.bildgalleri figcaption, .artikelbild figcaption {
    text-align: center;
    margin: auto;
    max-width: 90%;
}

/* Tabell med medlemsregistret ska ha linjer mellan
   cellerna och fetstil på kolumnrubrikerna */
.medlemstabell tr, .medlemstabell td, .medlemstabell th {
    border: solid 1px #cdc9c5;
    padding: 5px;
    text-align: left;
}
.medlemstabell th {
    border: solid 2px #cdc9c5;
    font-weight: bold;
}

.kontaktformular, .inmatningsgrupp {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.inmatningsfaltgrupp {
    display: flex;
    flex-direction: column;
}
/* Kontaktformulär ska ha lika breda inmatningsfält
   med ram som följer stilmallens färgsättningsriktlinjer */
.inmatningsfalt {
    border: solid 1px #cdc9c5;
}
.inmatningstextruta {
    height: 5em;
}
.inmatningsgrupp {
    border: solid 2px #cdc9c5;
}
.inmatningsbeskrivning, .inmatningsknapp {
    padding-top: 10px;
    padding-bottom: 5px;
}

/* Definitioner för utseende och beteende för navigeringsmenyn.
   Visa listan med navigeringsalternativ centrerat och horisontellt.
   En klass navigeringbehallarefast är definierad för att fixera
   menyn till toppen av sidan vid scrollning, kräver att klassen 
   läggs till dynamiskt i DOMen till menybehållaren. */
.navigeringbehallarefast {
    position: fixed;
    top: 0;
    /* Lägg menyn över allt annat innehåll på sidan */
    z-index: 1000;
}
.yttrenavigeringbehallare {
    order: 2;
    width: 100%;
}
.navigeringbehallare {
    width: 100%;
    background-color: #FFFFFF;
}
.navigering ul {
    text-align: center;
}
.navigering li {
    display: inline-block;
}
/* Tabbning i menyn ska ha samma utseende som hovring*/
.navigering li:hover, .navigering a:focus {
    background-color: #cdc9c5;
}
.navigering a:focus {
    outline: none;
}
/* Låt navigeringslänkarna visas med samma stil som
   vanlig text och låt hela ytan vara klickbar */
.navigering a:link, .navigering a:visited {
    color: #1F1F1F;
    text-decoration: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.aktivnavigering {
    border-bottom: solid #cdc9c5;
    border-width: 3px;
}

/* Sätt bakgrund och marginal i innehållsdelen av varje sida */
.innehall {
    /* Låt innehåll fylla upp sidans höjd */
    flex: 1;
    order: 3;
    background-image: url("../images/layout/body-pattern.jpeg");
    padding: 20px;
    border-bottom: 5px solid #cdc9c5;
}

/* Definitioner för utseende och beteende för footer */
.sidfot {
    order: 4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/*
 * Definitioner nedanför för att skapa ett rutsystem
 */
.rad, .kolumn {
    margin: auto;
    box-sizing: border-box;
}
.rad {
    display: flex;
    margin: auto;
}
/* Generellt utseende och beteende för en kolumn */ 
.kolumn {
    border-radius: 4px;
    /* Lämna mellanrum mellan kolumner */
    padding: 5px;
    margin: 5px;
    background-color: #FFFFFF;
    border-top: 5px solid #FFA500;
}

/* Vi har max tre kolumner i rutsystemet. De olika kolumn typer som finns är
   en kolumn-3 täcker hela raden (används ensam) medans
   en kolumn-2 täcker två-tredjedelar (används tillsammans kolumn 1) och
   en kolumn-1 täcker en tredjedel (används tillsammans med kolumn-2)
*/
.kolumn-1 {
    flex: 1;
}
.kolumn-2 {
    flex: 2;
}
.kolumn-3 {
    flex: 1;
}

/* Stilregler för enheter motsvarande mobiltelefoner */
@media(max-width: 767px) {

table, thead, tbody, th, td, tr {
    display: block;
}

/* Positionera utanför viewport för tillgänglighet */
thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.medlemstabell tr, .medlemstabell td, .medlemstabell th {
    border: solid 1px #cdc9c5;
    padding: 5px;
}
.medlemstabell td {
	position: relative;
	padding-left: 50%;
}
.medlemstabell td:before {
    position: absolute;
    left: 6px;
    white-space: nowrap;
}

/* Lägg till "header" till varje rad */
.medlemstabell td:nth-of-type(1):before { 
    content: "Förnamn"; 
    }
.medlemstabell td:nth-of-type(2):before {
    content: "Efternamn"; 
    }
.medlemstabell td:nth-of-type(3):before {
    content: "Bostadsaddress";
    }
.medlemstabell td:nth-of-type(4):before {
    content: "Postnummer"; 
    }
.medlemstabell td:nth-of-type(5):before {
    content: "Postaddress";
    }

.rad {
    flex-direction: column;
    max-width: 95%;
    width: 95%;
}
/* Lägg bilderna på den engelska sidan sist */
#rad-engelsk {
    flex-direction: column-reverse;
}

/* Kontaktformulär ska ha lika breda inmatningsfält
   med ram som följer stilmallens färgsättningsriktlinjer */
.inmatningsfalt {
    width: 15em;
}

}

/* Stilregler för enheter motsvarande mobiltelefoner */
@media(min-width: 768px) {

.rad {
    max-width: 80%;
    width: 80%;
}

/* Kontaktformulär ska ha lika breda inmatningsfält
   med ram som följer stilmallens färgsättningsriktlinjer */
.inmatningsfalt {
    width: 30em;
}

}